a, abbr, acronym, address, applet,
b,
big,
blockquote,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: 0 0
}

body,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: 0 0
}

body {
	vertical-align: baseline;
	font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
	background: #1c1c1e;
	line-height: 20px;
	color: #b8b8a2;
	height: 100%;
	position: relative;
	text-size-adjust: 100%;
	font-size: 12px
}

td {
	font-size: 100%
}

ol, ul {
	list-style: none
}

:focus {
	outline: 0
}

td {
	vertical-align: top
}



html {
	height: 100%
}

body.old-body {
	min-width: 1000px
}

a {
	text-decoration: none;
	color: #f25322;
	transition: color .15s ease-out
}

@media (any-pointer:fine) {
	a:hover {
		color: #ff7e00
	}
}

.front-top {
	margin-top: -20px;
	text-align: center;
	position: relative;
	padding-top: 95px;
	padding-bottom: 60px;
	box-sizing: border-box;
	background: url("../img/gup/img/top/bg_min.ef6c01.jpg") no-repeat 50%;
	background-size: cover
}

.front-top_logo-wrapper {
	align-items: center;
	justify-content: space-around;
	max-width: 640px;
	margin: 0 auto;
	display: flex
}

.front-top_logo { margin: 0 2% }
.user-generated .front-top_logo { max-width: 280px }

.user-generated .front-top_title {
	line-height: 42px;
	max-width: 1000px;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0 auto 16px;
	font-weight: 700
}

.front-top_text {
	max-width: 1000px;
	margin: 0 auto 34px;
	line-height: 1.3;
	color: #f9f5e1
}

.gup .video-grid_item { width: 275px }

.gup .video-preview_frame {
	position: relative;
	display: block;
	padding: 11px 0;
	overflow: hidden
}

.gup .video-preview_frame:after,
.gup .video-preview_frame:before {
	content: "";
	background: #000 linear-gradient(270deg, #000 50%, #29292b 0) repeat-x 50% 50%;
	background-size: 8px 4px;
	width: 200%;
	height: 12px;
	position: absolute;
	left: 0;
	z-index: 1
}

.gup .video-preview_frame:before { top: 0 }
.gup .video-preview_frame:after { bottom: 0 }
.gup .video-preview_img-holder { padding-top: 39.25% }

.gup-button {
	background: #f25322;
	padding: 16px 33px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 43px;
	cursor: pointer;
	transition: .4s ease;
	margin-bottom: 30px;
	line-height: 1
}

.gup-button__disabled { pointer-events: none }
.gup-button__audio { padding: 16px 30px }

.gup-button__inactive {
	pointer-events: none;
	background: #393836;
	opacity: .9
}

.gup-button:hover { background: #f56437 }

.gup-button_link {
	line-height: 1;
	font-size: 18px
}

.user-generated .gup-button_link, .user-generated .gup-button_link:hover { color: #f9f5e1 }
.gup-button__inactive .gup-button_link { color: #8c8c7c }

.gup-button__audio .gup-button_link {
	pointer-events: none;
	background: url("../img/gup/img/audio/audio_ico.fa4283.svg") no-repeat 100%;
	background-size: 22px 16px;
	padding-right: 31px
}

.gup-button_link__default, .gup-button_link__next { display: none }

.gup-avaible {
	font-size: 16px;
	color: #f9f5e1
}

.gup-avaible span {
	border-top: 1px solid #f9f5e1;
	border-bottom: 1px solid #f9f5e1;
	padding: 14px 0 14px 53px;
	display: inline-block;
	background: url("../img/gup/img/top/clock_ico.d16688.png") no-repeat 10px;
	text-align: left
}

.front-gr__bottom:after,
.front-gr__bottom:before {
	position: absolute;
	width: 100%;
	height: 19%;
	left: 0
}

.front-gr__bottom:before {
	content: "";
	bottom: 0;
	background: rgba(28, 28, 30, 0);
	background: linear-gradient(180deg, rgba(28, 28, 30, 0) 0, #1c1c1e)
}

.gup_block {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	z-index: 1
}

.video-grid {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around
}

.video-grid_item {
	box-sizing: border-box;
	width: 100%;
	min-width: 0;
	flex-shrink: 0
}

.video-grid_item:not(:last-child) {
	margin-bottom: 23px
}

.video-preview {
    width: 100%;
}
.video-preview_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .5s;
}
.video-preview_img-holder {
    display: block;
    padding-top: 46.25%;
    position: relative;
}
.video-preview_img, .video-preview_img:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video-preview-preview {width: 100%}
.video-preview_frame { display: none }
.video-preview_frame:not(:last-child) { margin-bottom: 10px }
.video-preview_frame:after, .video-preview_frame:before { width: 200% }i

.video-preview_img-holder {
	display: block;
	padding-top: 46.25%;
	position: relative
}

.video-preview_img-holder:after {
	width: 44px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: "";
	background: url("../img/play.svg") no-repeat center;
	background-size: 100% 100%
}

.video-preview_img,
.video-preview_img:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.video-preview_img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	will-change: transform;
	transition: transform .5s
}

.video-preview_img:before {
	content: "";
	opacity: 0;
	background-color: rgba(14, 14, 15, .5);
	transition: opacity .5s
}

.video-preview_view:hover .video-preview_img { transform: scale(1.1) }

.video-preview_view:hover .video-preview_img:before { opacity: 1 }
.span-video-preview_img { background-image: url("../img/hqdefault.jpg") }

.user-generated img {
    max-width: 100%;
    height: auto;
}

.user-generated h1 {
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #f9f5e1;
    margin: 0 0 16px;
}

.gup_title {
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	color: #f9f5e1;
	margin: 20px 0;
	line-height: 1.2
}

.final-standart {
	position: relative;
	padding: 5% 0
}
.final {
	background: url("../img/gup/img/final/bg_7_800x850.e3d1cc.jpg") 50% no-repeat;
	background-size: cover;
	margin: 0;
}

.final_wrapper {
	text-align: center
}

.final_copyright {
	font-size: 13px;
	line-height: 1;
	color: #b8b8a2;
	margin-bottom: 15px
}

.final-gr__top:after,
.final-gr__top:before {
	position: absolute;
	width: 100%;
	height: 19%;
	left: 0
}

.final-gr__top:after {
	content: "";
	top: 0;
	background: rgba(28, 28, 30, 0);
	background: linear-gradient(0deg, rgba(28, 28, 30, 0) 0, #1c1c1e)
}

.final_block {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	z-index: 1
}

.user-generated h1 {
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #f9f5e1;
    margin: 0 0 16px;
}

.final {
    font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif;
}

.gup_text {
	text-align: center;
	font-size: 16px;
	color: #f9f5e1;
	line-height: 1.2;
	max-width: 750px;
	margin: 0 auto
}

.gup-gr__bottom:after,
.gup-gr__bottom:before,
.gup-gr__top:after,
.gup-gr__top:before {
	position: absolute;
	width: 100%;
	height: 19%;
	left: 0
}

.gup-gr__top:after {
	content: "";
	top: 0;
	background: rgba(28, 28, 30, 0);
	background: linear-gradient(0deg, rgba(28, 28, 30, 0) 0, #1c1c1e)
}

.gup-gr__bottom:before {
	content: "";
	bottom: 0;
	background: rgba(28, 28, 30, 0);
	background: linear-gradient(180deg, rgba(28, 28, 30, 0) 0, #1c1c1e)
}

.gup-missions {
	background: url("../img/gup/img/decals/bg_min.edef75.jpg") 50% no-repeat;
	background-size: cover
}

.gup-missions_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 870px;
	margin: 40px auto 0;
	flex-wrap: wrap;
	padding: 0 6%
}

.gup-missions_item {
	position: relative;
	cursor: pointer
}

.gup-missions_x-num {
	font-size: 24px;
	color: #f9f5e1;
	line-height: 1;
	font-weight: 700;
	position: absolute;
	bottom: 9px;
	right: 9px
}

.gup-missions_tooltip {
	position: absolute;
	width: 30vw;
	background: rgba(0, 0, 0, .7);
	font-size: 16px;
	color: #f9f5e1;
	box-sizing: border-box;
	padding: 10px 15px;
	bottom: 120px;
	left: 50%;
	margin-left: -15vw;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s ease, visibility .2s ease;
	line-height: 1.2
}

.gup-missions_item:hover .gup-missions_tooltip {
	opacity: 1;
	visibility: visible
}

.gup-missions_tooltip:before {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -25px;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 15px solid rgba(0, 0, 0, .7)
}

.gup-standart {
	position: relative;
	padding: 5% 0
}


.gup-styles {
	background: url("../img/gup/img/styles/bg.705aad.jpg") center 40% no-repeat;
	background-size: contain
}

@media (min-width:1800px) {
	.gup-styles {
		background-size: cover
	}
}

.gup-styles_tank {
	margin-top: 20px;
	text-align: center;
	position: relative
}

.gup-styles_tank img {
	margin-left: -33%
}

.css-gup-styles-tank {
	display: none;
}

.css-gup-styles-tank__active {
	display: inline;
}

.gup-styles_print {
	position: absolute;
	z-index: 1
}

.null-css-color {
	z-index: -1;
}

.gup-styles-controls {
	max-width: 1000px;
	margin: 0 auto
}

.gup-styles-controls_menu {
	display: flex;
	background: rgba(21, 21, 22, .5)
}

.gup-styles-controls_menu-item {
	display: flex;
	align-items: center;
	padding: 4px 9px;
	cursor: pointer;
	position: relative
}

.gup-styles-controls_menu-item:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #f05322;
	transition: transform .2s ease;
	transform: scaleX(0);
	transform-origin: center 0
}

.gup-styles-controls_menu-item:hover:before,
.gup-styles-controls_menu-item__active:before {
	transform: scaleX(1)
}

.gup-styles-controls_menu-item img {
	display: none
}

.gup-styles-controls_menu-title {
	text-transform: uppercase;
	font-size: 14px;
	color: #f9f5e1
}

.gup-styles-controls_container {
	background: rgba(16, 16, 17, .8);
	position: relative;
	transition: height .2s ease;
	overflow: hidden
}

.gup-styles-controls_item {
	display: flex;
	flex-wrap: wrap;
	padding: 27px 2%;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease, visibility .2s ease;
	position: absolute;
	width: 100%;
	box-sizing: border-box
}

.gup-styles-controls_item__active {
	visibility: visible;
	opacity: 1
}

.gup-styles-controls_control {
	text-align: center;
	max-width: 78px;
	margin-bottom: 10px;
	cursor: pointer
}

.gup-styles-controls_control img {
	will-change: filter;
	transition: filter .2s ease
}

.gup-styles-controls_control__active img {
	filter: drop-shadow(0 0 8px #fff)
}

.gup-styles-controls_title {
	margin-top: 5px;
	font-size: 14px;
	color: #737171;
	line-height: 1;
	transition: color .2s ease
}

.gup-styles-controls_control:hover .gup-styles-controls_title,
.gup-styles-controls_control__active .gup-styles-controls_title {
	color: #f9f5e1
}

.gup-styles-controls_container-media {
	height: 224px;
}

.gup-audio {
	background: url("../img/gup/img/audio/bg3_min.07f64a.jpg") 50% no-repeat;
	background-size: cover
}

.gup-audio_wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
	flex-wrap: wrap
}

.gup-audio_name {
	background: url("../img/gup/img/audio/paint.21ad3a.png") no-repeat 50%;
	font-size: 18px;
	line-height: 1;
	color: #f9f5e1;
	font-weight: 700;
	text-align: center;
	background-size: contain;
	padding: 11px 0;
	margin-bottom: 35px;
	display: none;
	margin-right: -16%
}

.gup-audio[data-audio-lang=ja] .gup-audio_name {
	font-size: 16px
}

.gup-audio_girl {
	position: relative;
	width: 100%
}

.gup-audio_girl-pic {
	transition: filter .2s ease;
	will-change: filter;
	display: none
}

.gup-audio_girl:hover .gup-audio_girl-pic,
.gup-audio_girl__active .gup-audio_girl-pic {
	filter: drop-shadow(0 0 10px #fff)
}

.gup-audio_flowers {
	background: url("../img/gup/img/audio/flowers4.47c081.png") no-repeat center 0;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 18vw;
	background-size: cover;
	display: none
}

.gup-audio_flowers:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15%;
	background: rgba(28, 28, 30, 0);
	background: -webkit-linear-gradient(top, rgba(28, 28, 30, 0), #1c1c1e);
	background: linear-gradient(180deg, rgba(28, 28, 30, 0) 0, #1c1c1e)
}

.gup-audio_button-wrapper {
	text-align: center
}

.gup-audio-tootlip {
	transition: opacity .2s ease, visibility .2s ease;
	user-select: none
}

.gup-audio_girl:hover .gup-audio-tootlip {
	opacity: 1;
	visibility: visible;
	z-index: 1
}

.gup-audio-tootlip_avatar {
	width: 75px;
	transition: filter .2s ease;
	will-change: filter
}

.gup-audio_girl__active .gup-audio-tootlip_avatar {
	filter: drop-shadow(0 0 8px #fff)
}

.gup-audio-tootlip_top {
	background: hsla(0, 0%, 100%, .12);
	margin-top: 5px;
	display: flex;
	align-items: flex-end;
	padding-top: 5px;
	border-bottom: 1px solid #fff
}

.gup-audio-tootlip_name {
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #f9f5e1;
	margin-bottom: 5px
}

.gup-audio-tootlip_type {
	font-size: 16px;
	line-height: 1;
	color: #f9f5e1
}

.gup-audio-tootlip_right {
	padding-bottom: 10px;
	margin-left: 4px
}

.gup-audio-tootlip_text {
	font-size: 14px;
	line-height: 1.1;
	padding: 10px 13px;
	position: absolute;
	bottom: 86px;
	width: 100%;
	box-sizing: border-box;
	transition: opacity .2s ease, visibility .2s ease;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, .95)
}

.gup-audio-tootlip_text:before {
	content: "";
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -20px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 12px solid rgba(0, 0, 0, .95)
}

.gup-audio-tootlip:hover .gup-audio-tootlip_text {
	opacity: 1;
	visibility: visible
}

.gup-audio-subs {
	position: absolute;
	background: url("../img/gup/img/audio/bubble2.dcda0f.svg") no-repeat 50%;
	color: #1c1c1e;
	font-size: 14px;
	line-height: 1.2;
	z-index: 2;
	width: 177px;
	height: 134px;
	top: -77px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-25px);
	transition: opacity .2s ease, transform .2s ease, visibility .2s ease
}

.gup-audio_girl__active .gup-audio-subs {
	opacity: 1;
	visibility: visible;
	transform: translateY(0)
}

.gup-audio-subs__right {
	right: auto;
	left: 28px
}

.gup-audio-subs__left {
	left: 28px
}

.gup-audio-subs_text {
	box-sizing: border-box;
	padding: 0 33px;
	margin-top: -16px;
	width: 100%
}

.gup-button__top {
	margin-top: 5px;
}
