@media (min-width:720px) {
	.front-top {
		background: url("../img/gup/img/top/bg_top2.56a9ca.jpg") no-repeat 50%;
		background-size: cover
	}
}

@media (min-width:1100px) {
	.front-top {
		display: flex;
		min-height: calc(100vh - 37px);
		width: 100%;
		align-items: center;
		padding-bottom: 135px
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.front-top {
		padding-top: 137px;
		padding-bottom: 105px
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.front-top_logo-wrapper {
		margin-bottom: -30px
	}
}

@media (min-width:720px) {
	.user-generated .front-top_logo {
		max-width: 450px
	}
}

@media (max-height:1030px) {
	.user-generated .front-top_logo {
		max-width: 280px
	}
}

@media (min-width:1100px) {
	.user-generated .front-top_title {
		line-height: normal;
		font-size: 72px;
		margin-bottom: 25px
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.user-generated .front-top_title {
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: 18px;
		line-height: 53px;
	}
}

@media (min-width:720px) {
	.front-top_text {
		font-size: 24px
	}
}

@media (min-width:1100px) {
	.front-top_text {
		margin-bottom: 40px;
		margin-top: 20px
	}
}

@media (max-height:1030px) {
	.front-top_text {
		font-size: 18px;
		margin-bottom: 18px
	}
}

@media (min-width:720px) {
	.gup .video-grid_item {
		width: 310px
	}
}

@media (min-width:1100px) {
	.gup .video-grid_item {
		margin: 0
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.gup .video-preview_img-holder {
		padding-top: 34.25%
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.gup-button {
		padding: 12px 23px;
		margin-top: 30px;
		margin-bottom: 20px
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.gup-button__top {
		margin-top: 5px;
	}
}

@media (min-width:720px) {
	.gup-avaible {
		font-size: 18px
	}
}

@media all and (min-width:720px) {
	.video-grid_item {
		width: 162px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center
	}
}

@media all and (min-width:1100px) {
	.video-grid_item {
		width: 200px
	}
}

@media all and (min-width:720px) {
	.video-grid_item:not(:last-child) {
		margin-bottom: 0
	}
}

@media all and (min-width:720px) {
	.video-preview_frame {
		position: relative;
		display: block;
		padding: 11px 0;
		overflow: hidden
	}
	.video-preview_frame:after,
	.video-preview_frame:before {
		content: "";
		background: #000 linear-gradient(to left, #000 50%, #29292b 50%) repeat-x 50% 50%;
		background-size: 8px 4px;
		width: 100%;
		height: 12px;
		position: absolute;
		left: 0;
		z-index: 1
	}
	.video-preview_frame:before {
		top: 0
	}
	.video-preview_frame:after {
		bottom: 0
	}
}

@media all and (min-width:720px) {
	.video-preview_frame:not(:last-child) {
		margin-bottom: 0
	}
}

@media (any-pointer:fine) {
	.video-preview_view:hover .video-preview_frame:after,
	.video-preview_view:hover .video-preview_frame:before {
		-webkit-animation: frame 5s infinite linear;
		animation: frame 5s infinite linear
	}
}

@media all and (min-width:1100px) {
	.video-preview_img-holder:after {
		width: 66px;
		height: 66px
	}
}

@media all and (min-width:720px) {
	.video-preview_img-holder__big-ico:after {
		width: 96px;
		height: 96px
	}
}

@media all and (min-width:1100px) {
	.video-preview_img {
		-webkit-transform: rotate(.02deg);
		transform: rotate(.02deg)
	}
}

@media (any-pointer:fine) {
	.video-preview_view:hover .video-preview_img {
		-webkit-transform: scale(1.1);
		transform: scale(1.1)
	}
}

@media (any-pointer:fine) {
	.video-preview_view:hover .video-preview_img:before {
		opacity: 1
	}
}

@media (min-width:1400px) {
	.final-standart {
		padding: 100px 0
	}
}

@media (min-width:720px) {
	.final {
		background: url("../img/gup/img/final/screen7.09aba7.jpg") 50% no-repeat;
		background-size: cover;
	}
}

@media (min-width:1400px) {
	.gup-standart {
		padding: 100px 0
	}
}

@media (min-width:720px) {
	.gup-missions_tooltip {
		font-size: 18px
	}
}

@media (min-width:820px) {
	.gup-missions_tooltip {
		width: 250px;
		margin-left: -125px
	}
}

@media (min-width:720px) {
	.gup-missions_x-num {
		font-size: 30px
	}
}

@media (min-width:720px) {
	.gup-missions_item {
		margin: 0 2% 45px
	}
}

@media (min-width:720px) {
	.gup-missions_wrapper {
		margin-top: 110px;
		padding: 0 5%
	}
}

@media (max-height:1030px) and (min-width:720px) {
	.gup-missions_wrapper {
		margin-top: 40px
	}
}

@media (min-width:720px) {
	.gup-missions {
		background: url("../img/gup/img/decals/bg.9bdea2.jpg") 50% no-repeat;
		background-size: cover
	}
}

@media (min-width:720px) {
	.gup_text {
		font-size: 18px
	}
}

@media (min-width:500px) {
	.gup-styles-controls_menu-item img {
		display: block;
		width: 55px;
		height: 44px
	}
}

@media (min-width:720px) {
	.gup-styles-controls_menu-item img {
		width: 83px;
		height: 67px
	}
}

@media (min-width:720px) {
	.gup-styles-controls_menu-title {
		font-size: 18px
	}
}

@media (min-width:720px) {
	.gup-styles-controls_item {
		justify-content: space-between
	}
}

@media (min-width:720px) {
	.gup-styles-controls_control {
		max-width: none
	}
}
@media (max-width:720px) {
	.gup-styles-controls_control {
		max-width: 100%
	}
}

@media (min-width:720px) {
	.gup-styles-controls_title {
		font-size: 18px;
		margin-top: 20px
	}
}

@media (max-width:720px) {
	.gup-styles-controls_container-media {
		height: 178px;
	}
}

@media (min-width:820px) {
	.gup-audio {
		background: url("../img/gup/img/audio/bg3.2baf0f.jpg") 50% no-repeat;
		background-size: cover
	}
}

@media (min-width:720px) {
	.gup-audio_wrapper {
		padding: 0 6%
	}
}

@media (min-width:820px) {
	.gup-audio_wrapper {
		align-items: flex-end;
		flex-wrap: nowrap
	}
}

@media (min-width:1100px) {
	.gup-audio_wrapper {
		padding: 0 3%
	}
}

@media (min-width:820px) {
	.gup-audio_name {
		display: block
	}
}

@media (min-width:1100px) {
	.gup-audio_name {
		font-size: 30px
	}
}

@media (min-width:1100px) {
	.gup-audio[data-audio-lang=ja] .gup-audio_name {
		font-size: 22px
	}
}

@media (min-width:520px) {
	.gup-audio_girl {
		width: 48%;
		margin-bottom: 10px
	}
}

@media (min-width:820px) {
	.gup-audio_girl {
		width: auto
	}
}

@media (min-width:820px) {
	.gup-audio_girl-pic {
		display: block
	}
}

@media (min-width:820px) {
	.gup-audio_flowers {
		display: block
	}
}

@media (min-width:1400px) {
	.gup-audio_flowers {
		height: 270px;
		background-size: auto
	}
}

@media (min-width:820px) {
	.gup-audio_button-wrapper {
		position: absolute;
		top: 77.3%;
		width: -moz-calc(100% - 32px);
		width: -webkit-calc(100% - 32px);
		width: calc(100% - 32px)
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip {
		background: rgba(0, 0, 0, .87);
		position: absolute;
		width: 250px;
		left: 50%;
		margin-left: -125px;
		top: 38%;
		opacity: 0;
		visibility: hidden
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip_avatar {
		width: 50px
	}
}

@media (min-width:1100px) {
	.gup-audio-tootlip_avatar {
		width: 60px
	}
}

@media (min-width:820px) {
	.gup-audio_girl__active .gup-audio-tootlip_avatar {
		filter: none
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip_top {
		background: hsla(0, 0%, 100%, .21)
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip_name {
		font-size: 16px
	}
}

@media (min-width:1100px) {
	.gup-audio-tootlip_name {
		font-size: 18px
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip_type {
		font-size: 14px
	}
}

@media (min-width:1100px) {
	.gup-audio-tootlip_type {
		font-size: 16px
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip_text {
		position: static;
		opacity: 1;
		visibility: visible
	}
}

@media (min-width:820px) {
	.gup-audio-tootlip_text:before {
		content: none
	}
}

@media (min-width:820px) {
	.gup-audio-subs {
		top: 30px
	}
}

@media (min-width:1100px) {
	.gup-audio-subs {
		font-size: 16px;
		width: 207px;
		height: 154px;
		top: 72px
	}
}

@media (min-width:820px) {
	.gup-audio-subs__right {
		right: -125px;
		left: auto
	}
}

@media (min-width:1100px) {
	.gup-audio-subs__right {
		right: -130px
	}
}

@media (min-width:820px) {
	.gup-audio-subs__left {
		background: url("../img/gup/img/audio/bubble_mirored.2bbd04.svg") no-repeat 50%;
		left: -128px
	}
}

@media (min-width:1100px) {
	.gup-audio-subs__left {
		left: -145px
	}
}

